*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-background{
    background-color:#d4dad9;
    /*background: linear-gradien(#d4dad9, yellow);*/
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.page-top{
    background-color: #009587;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page-container{
    position: relative;
    top: 20px;
    bottom: 20px;
    z-index: 100;
    height: 100%;
    background-color: white;
}

.side-left-nav{
    flex-shrink: 0;
}

.bg-nav{
    background-color: #ebeaeb;
}

.user-container{
    width: 100px;
    height: 50px;
}

.avatar-nav img{
    height: 100%;
    width: 100%;
}

.avatar-nav{
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}

.user-name{
    font-size: 20px;
    padding-left: 0;
}

.nav-icon{
    color: #B1B1B0;
    padding: 5px 5px;
    font-size: 20px;
}

.nav-icon:hover{
    color: grey;
}

.alert-left{
    background-color: #8FDAFA;
    flex-shrink: 0;
}

.alert-text{
    font-size: 10px;
    text-decoration: underline;
    color: rgb(65, 64, 64);
}

.search-bar{
    flex-shrink: 0;
    background-color: #EAE9EA;
}

.chat-container{
    flex-grow: 1;
    overflow: auto;
    background-color: white;
    height: calc(90vh - 70px - 66px - 54px);
}

.chat-list:hover{
    background-color: rgba(65, 64, 64, 0.116);
}

.user-name-chat{
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 0;
}

.user-prevtext, 
.user-date{
    font-size: 10px;
    color: grey;
    line-height: 4px;
    padding: 5px 0;
}

.text-long{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*Side Right*/

.bg-chat{
    background-image: url("../img/mine.jpg");
    overflow: auto;
    height: calc(90vh - 66px - 54px);
    margin-right: 5px;
}

.text-send{
    display: flex;
    justify-content: flex-end;
}

.text-recived{
   display: flex;
}

.msg-space{
    padding: 10px 20px;
}

.msg-container{
    background-color: #d6fabe;
    border-radius: 10px;
    padding: 5px 15px;
}

.info-text{
    font-size: 12px;
    text-align: end;
}

/*Effetti da cambiare*/

.btn-outline-secondary {
    color: #6c757d;
    border-color: #ced4da;
}

.btn-outline-secondary {
    color: #b7b9bb;
}


.form-control:focus {
    border-color: #000000;
    border-left: 1px solid;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0rem rgb(108 117 125 / 50%);
}
.btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 0rem rgb(108 117 125 / 50%);
}